body,
html {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	font-family: 'Bebas Neue';
	color: #f9f9f9;
}

.Appz {
	position: relative;
	/* z-index: 1; */
}

* {
	box-sizing: border-box;
	user-select: none;
	-webkit-user-drag: none;
}

:root {
	--color-primary: #107c10;
	--color-danger: #7c1010;
	/* login */
	--bodybg: #000000;
	/* --primary-color: #5138ee; */
	--grey: #d6d6d6;
	--placeholder: #969696;
	--white: #000000;
	--text: #ffffff;
	--slider-bg: #141414;
	--login-cta-hover: #046003;
	--placeholder-text: #000;


	/* games */


}


.wrapper {
	height: 100%;
}



.navbar {
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 8vh;
	background: #17181a;
	width: 100%;
	border-bottom: 1px solid #107c10;
	z-index: 9999;
}

.main {
	position: absolute;
	z-index: 0;
	/* margin-top: 8vh; */
	top: 8vh;
	left: 0;
}

.navbar .logo-span {
	display: none;
	flex: 2 1 auto;
	font-weight: 500;
	font-size: 16px;
	margin: 0 0 0 20px;
}

@media (width >=440px) {
	.navbar {
		top: 0;
		bottom: auto;
	}

	.tabs {
		scale: 0.8;
		width: 200px;
	}

	.navbar .logo-span {
		display: block;
	}
}

.tabs {
	flex: 1 1 auto;
}

.tabs>input {
	display: none;
}

h2 {
	margin: 0 0 10px;
	font-size: 18px;
	font-weight: 400;
}

label {
	position: relative;
	z-index: 2;
	padding: 13px;
	/* padding: 15px 15px 15px 45px; */
	/* padding: 14px 15px 12px 15px; */
	font-size: 15px;
	flex: 1 1 auto;
	min-width: 58px;
	opacity: 0.35;
	cursor: pointer;
	text-align: center;
	transition: 0.3s;
}

.buttons {
	position: relative;
	display: flex;
}

.underline {
	position: absolute;
	z-index: 1;
	left: 0;
	bottom: -3px;
	width: 25%;
	display: grid;
	place-items: center;
	transition: 0.3s;
}

.underline::after {
	content: "";
	display: block;
	translate: 0 -15px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: var(--color-primary);
}

.tabs input:nth-child(1):checked~.buttons .underline {
	translate: 0 0;
}

.tabs input:nth-child(2):checked~.buttons .underline {
	translate: 100% 0;
}

.tabs input:nth-child(3):checked~.buttons .underline {
	translate: 200% 0;
}

.tabs input:nth-child(4):checked~.buttons .underline {
	translate: 300% 0;
}

.tabs input:nth-child(1):checked~.buttons label:nth-child(1),
.tabs input:nth-child(2):checked~.buttons label:nth-child(2),
.tabs input:nth-child(3):checked~.buttons label:nth-child(3),
.tabs input:nth-child(4):checked~.buttons label:nth-child(4) {
	opacity: 1;
	color: black;
}

/* ScrollBars */

*::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #17181a;
}

*::-webkit-scrollbar {
	width: 5px;
	background-color: #17181a;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--color-primary);
}

/* login */


.login-container {
	display: flex;
	/* max-width: 1200px; */
	/* background: var(--white); */
	background: #181818;
	height: 30rem;
	margin: auto;
	width: 60vw;
	min-width: 320px;
	border-radius: 15px;
	box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.03), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.037), 12.5px 12.5px 10px rgba(0, 0, 0, 0.042), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.048), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.057), 100px 100px 80px rgba(0, 0, 0, 0.07);

}

.h-x-40 {
	height: 40rem !important;
}

.swiper-wrapper,
.swiper-container {
	display: flex;
}

.login-container .logo svg {
	height: 40px;
	width: 40px;
	fill: var(--color-primary);
}

.login-container .login-form {
	width: 50%;
	box-sizing: border-box;
	/* padding: 50px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

.login-container .login-form .login-form-inner {
	max-width: 380px;
	width: 95%;
}

.login-container .login-form .google-login-button .google-icon svg {
	height: 20px;
	display: flex;
	margin-right: 10px;
}

.login-container .login-form .google-login-button {
	color: var(--text);
	border: 1px solid var(--grey);
	margin: 40px 0 20px;
}

.login-container .login-form .sign-in-seperator {
	text-align: center;
	color: var(--placeholder);
	position: relative;
	margin: 30px 0 20px;
}

.login-container .login-form .sign-in-seperator span {
	background: var(--white);
	z-index: 1;
	position: relative;
	padding: 0 10px;
	font-size: 14px;
}

.login-container .login-form .sign-in-seperator:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background: var(--grey);
	left: 0;
	top: 50%;
	z-index: 0;
}

.login-container .login-form .login-form-group {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.login-container .login-form .login-form-group label {
	font-size: 14px;
	font-weight: 500;
	color: var(--text);
	margin-bottom: 10px;
}

/* .login-container .login-form .login-form-group input {
	padding: 13px 20px;
	box-sizing: border-box;
	border: 1px solid var(--grey);
	border-radius: 50px;
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 14px;
	color: var(--placeholder-text);
	transition: linear 0.2s;
}

.login-container .login-form .login-form-group input:focus {
	outline: none;
	border: 1px solid var(--color-primary);
}

.login-container .login-form .login-form-group input::-webkit-input-placeholder {
	color: var(--placeholder);
	font-weight: 300;
	font-size: 14px;
} */

.login-container .login-form .login-form-group.single-row {
	flex-direction: row;
	justify-content: space-between;
	padding-top: 5px;
}

/* custom checkbox */
.login-container .login-form .custom-check input[type="checkbox"] {
	height: 23px;
	width: 23px;
	margin: 0;
	padding: 0;
	opacity: 1;
	appearance: none;
	border: 2px solid var(--color-primary);
	border-radius: 3px;
	background: var(--white);
	position: relative;
	margin-right: 10px;
	cursor: pointer;
}

.login-container .login-form .custom-check input[type="checkbox"]:checked {
	border: 2px solid var(--color-primary);
	background: var(--color-primary);
}

.login-container .login-form .custom-check input[type="checkbox"]:checked:before,
.login-container .login-form .custom-check input[type="checkbox"]:checked:after {
	content: "";
	position: absolute;
	height: 2px;
	background: var(--white);
}

.login-container .login-form .custom-check input[type="checkbox"]:checked:before {
	width: 8px;
	top: 11px;
	left: 2px;
	transform: rotate(44deg);
}

.login-container .login-form .custom-check input[type="checkbox"]:checked:after {
	width: 14px;
	top: 8px;
	left: 5px;
	transform: rotate(-55deg);
}

.login-container .login-form .custom-check input[type="checkbox"]:focus {
	outline: none;
}

.login-container .login-form .custom-check {
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-container .login-form .custom-check label {
	margin: 0;
	color: var(--text);
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
}

.login-container .login-form .link {
	color: var(--color-primary);
	font-weight: 700;
	text-decoration: none;
	font-size: 14px;
}

.login-container .login-form .link:hover {
	text-decoration: underline;
}

.login-container .login-form .login-cta {
	color: var(--white);
	text-decoration: none;
	border: 1px solid var(--color-primary);
	margin: 25px 0 35px;
	background: var(--color-primary);
}

.login-container .login-form .login-cta:hover {
	background: var(--login-cta-hover);
}

.login-container .onboarding {
	flex: 1;
	background: var(--slider-bg);
	display: none;
	width: 50%;
	border-radius: 15px;
}

.login-container .login-form .login-form-group label .required-star {
	color: var(--color-primary);
	font-size: 18px;
	line-height: 10px;
}

.rounded-button {
	display: flex;
	width: 8rem;
	text-decoration: none;
	border-radius: 50px;
	padding: 13px 20px;
	box-sizing: border-box;
	justify-content: center;
	font-size: 14px;
	font-weight: 500;
	align-items: center;

}




.login-container .rounded-button {
	display: flex;
	width: 100%;
	text-decoration: none;
	border-radius: 50px;
	padding: 13px 20px;
	box-sizing: border-box;
	justify-content: center;
	font-size: 14px;
	font-weight: 500;
	align-items: center;
	transition: linear 0.2s;
}

.login-container .rounded-button:hover {
	box-shadow: 0px 0px 4px 0px var(--grey);
}

.login-container .body-text {
	font-size: 14px;
	font-weight: 500;
	color: var(--text);
}

.login-container .onboarding .swiper-container {
	/* width: 100%; */
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.login-container .onboarding .swiper-slide {
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	color: var(--text);
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.login-container .onboarding .swiper-pagination-bullet-active {
	background-color: var(--color-primary);
}

.login-container .onboarding .swiper-slide {
	flex-direction: column;
	display: flex;
}

.login-container .onboarding .swiper-slide .slide-image img {
	width: 100%;
	height: 80%;
}

.login-container .onboarding .slide-content {
	width: 60%;
}

.login-container .onboarding .slide-content h2 {
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 15px;
}

.login-container .onboarding .slide-content p {
	font-size: 16px;
	line-height: 22px;
	font-weight: 300;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal>.swiper-pagination-bullets {
	bottom: 30px;
}

.login-container .login-form .login-form-inner h1 {
	margin-bottom: 20px;
	margin-top: 10px;
}

@media screen and (min-width: 768px) {
	.login-container .onboarding {
		display: flex;
	}
}

@media screen and (max-width: 767px) {
	.login-container {
		height: 100vh;
	}
}

@media screen and (width: 768px) {
	.login-container .onboarding {
		order: 0;
	}

	.login-container .login-form {
		order: 1;
	}

	.login-container {
		height: 100vh;
	}
}

@media screen and (max-width: 420px) {
	.login-container .login-form {
		padding: 20px;
	}

	.login-container .login-form-group {
		margin-bottom: 16px;
	}

	.login-container {
		margin: 0;
	}
}

.logtext {
	color: var(--color-primary);
}

.auth-data {
	position: absolute;
	top: 20vh;
	left: 10VW;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
	.auth-data {
		position: relative !important;
		top: auto !important;
		left: auto !important;
	}

	.login-container {
		height: 60vh !important;
	}
}


/* cards */
.card {
	width: 100vw;
	position: relative;
	width: 20vw;
	/* max-width: 320px; */
	height: 45vh;
	margin: 1vw;
	transform-style: preserve-3d;
	perspective: 800px;
}

.card .front,
.card .back {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	transition: transform 0.8s ease-in-out;
}

.card .front .img,
.card .back .img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 10px;
	/* filter: grayscale(70%) brightness(40%); */
}

.card .front {
	background-color: var(--login-cta-hover);
}

.card .back {
	background: #000000;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0f9b0f, #000000);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #0f9b0f, #000000);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	transform: rotateY(180deg);
}

.card:hover .front {
	transform: rotateY(-180deg);
}

.card:hover .back {
	transform: rotateY(0deg);
}

.card .contents {
	color: #fff;
	text-align: center;
	transform: translateZ(100px);
}

.card .contents .title::after,
.card .contents .subtitle::after {
	content: "";
	display: block;
	width: 30px;
	height: 2px;
	margin: 1rem auto;
	background: #fff;
}

.card .contents .title {
	font-size: 2.25em;
}

.card .contents .subtitle {
	font-size: 2em;
}

.card .contents .text {
	font-size: 1.125em;
}

.card .contents .socials {
	list-style: none;
	display: flex;
	justify-content: center;
}

.card .contents .socials a {
	display: inline-block;
	margin: 0.5rem;
	font-size: 2em;
	color: #fff;
	transition: transform 0.3s;
}

.card .contents .socials a:hover {
	transform: translateY(-5px);
}

.game-container {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	justify-content: center;

}




@media screen and (max-width: 600px) {
	.card {
		width: 100%;
		height: auto;
	}
}


.logo-img {
	height: 2.5rem !important;
	width: 4.5rem !important;
}


.test-high {
	display: flex;
	background-color: #0a0a0a;
	width: 100vw;
	height: 90vh;
	align-content: center;
	justify-content: center;
	align-items: center;
}



.cardx {
	width: 11.5rem;
	height: 17rem;
	background: #07182E;
	position: relative;
	display: flex;
	place-content: center;
	place-items: center;
	overflow: hidden;
	border-radius: 20px;
	background: #212121;
	box-shadow:
		0.8px 2.3px 142px rgba(0, 0, 0, 0.098),
		1.6px 4.6px 202.1px rgba(0, 0, 0, 0.133),
		2.4px 7.2px 236.9px rgba(0, 0, 0, 0.152),
		3.4px 10.1px 262.8px rgba(0, 0, 0, 0.165),
		4.7px 13.9px 289.4px rgba(0, 0, 0, 0.174),
		6.6px 19.5px 325.9px rgba(0, 0, 0, 0.181),
		10px 29.6px 385.5px rgba(0, 0, 0, 0.186),
		19px 56px 500px rgba(0, 0, 0, 0.19);
}

.cardx img {
	z-index: 1;
	width: 11rem;
	height: 16.5rem;
	border-radius: 20px;
}

.cardx::before {
	content: '';
	position: absolute;
	width: 100px;
	background-image: linear-gradient(180deg, rgb(0, 255, 8), rgb(28, 74, 0));
	height: 130%;
	animation: rotBGimg 3s linear infinite;
	transition: all 0.2s linear;
}

@keyframes rotBGimg {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.game-content {
	width: 80vw;
	margin-top: 10vw;
	padding-top: 3vh;
	padding-bottom: 3vw;
	background-color: #0000007d;
	height: 60vh;
	margin-bottom: 5vh;
}

.game-title {
	font-size: 48px;
	color: #f8f8f8;

}

.game-data {
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 10px;
	position: absolute;
	left: 25rem;
	top: 12vw;
	text-align: left;
}

.game-dev {
	font-size: 35px;
	color: #f8f8f8;
}

.game-btm {
	display: flex;
}

.game-desc {
	width: 90vw;
	padding: 2rem;
}

.game-rating {
	width: 10vw;
	color: #fff;
	background-color: #046003;
	display: flex;
	gap: 1rem;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.game-rel {
	color: #07bc0c;
	font-weight: bold;
}

.game-sub {
	border: 1px solid #046003;
	width: 15vw;
	padding: 0.5rem;
	text-align: center;
	margin-top: 1.2rem;
}

.game-controls {
	display: flex;
}

.game-back {
	/* background-color: #046003;
	color: #fff;
	border: none; */
	width: 10vw !important;
	padding: 0px !important;
	margin-top: 1.1rem;
	height: 2.7rem;
	margin-right: 1rem;
	/* font-weight: bold; */
}

.eventpage-x {
	height: 80vh;
	width: 100vw;
	margin-top: 5vh;
	background-image: url('./bg.jpg');
	background-size: cover;
	filter: inherit;
	color: #fff;
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.event-content {
	height: 50vh;
	width: 50vw;
	display: flex;
	background-color: #000000e8;
	justify-content: center;
	align-items: center;
	border: 1px solid #046003;
	border-radius: 20px;
}

.game-button {
	border-radius: .25rem !important;
	text-transform: uppercase !important;
	font-style: normal !important;
	padding-left: 25px !important;
	padding-right: 25px !important;
	color: #fff !important;
	-webkit-clip-path: polygon(0 0, 0 0, 100% 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 15px 100%, 0 100%);
	clip-path: polygon(0 0, 0 0, 100% 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 15px 100%, 0 100%);
	height: 40px !important;
	line-height: 14px !important;
	letter-spacing: 1.2px !important;
	transition: .2s .1s !important;
	background-image: linear-gradient(90deg, #1c1c1c, #07bc0c) !important;
	border: 0 solid !important;
	overflow: hidden !important;
}

.game-button:hover {
	cursor: pointer !important;
	transition: all .3s ease-in !important;
	padding-right: 30px !important;
	padding-left: 30px !important;
}

.game-sidenav {
	height: 90vh;
	width: 20vw;
	background-color: #000;
	border-right: 1px solid #046003;
	position: fixed;
	left: 0;
	margin-top: 1vh;
	padding: 1rem;
	color: #046003;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.game-nav-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	height: 92%;
	align-content: center;
	width: 100%;
}


.game-nav-button {
	border: 1px solid #046003;
	padding: 1rem;
	margin: 0.5rem;
	width: 100%;
	background-color: #000;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}

.game-nav-button:hover {
	border: 1px solid #000;
	background-color: #046003;
	border-radius: 2px;
}

.game-nav-logout-button {
	position: absolute;
	/* position: absolute;
	border: 1px solid #ff0127;
	padding: 1rem;
	margin: 0.5rem;
	width: 91%;
	background-color: #000;
	color: #fff;
	font-size: 14px;
	font-weight: 600; */
	bottom: 0.3rem;
	/* transition: 0.2s ease-in; */
}

.layout-nav {
	padding: 20px 60px !important;
}

.game-nav-logout-button:hover {
	border: 1px solid #000;
	background-color: #ff0127;
	border-radius: 2px;
	font-size: 20px;
	padding: 0.8rem;
}

.game-x-main {
	display: flex;
	position: absolute;
	z-index: 0;
	/* margin-top: 8vh; */
	top: 8vh;
	left: 0;
}

.game-actions {
	width: 80vw;
	position: absolute;
	left: 20vw;
	height: 53vw;
	padding: 5rem;
	background-color: #000;

}

.game-page-title {
	padding: 0.8rem;
	width: 100%;
	height: 4rem;
	font-size: 2rem;
	font-weight: 600;
	margin-left: 0px;
	top: 1vh;
	left: 0px;
	position: absolute;
	border-left: 2px solid #07bc0c;
	background: linear-gradient(to right, #000, #434343);
	letter-spacing: 0.1rem;
}

.game-page-title-x {
	padding: 0.8rem;
	width: 100%;
	height: 4rem;
	font-size: 2rem;
	font-weight: 600;
	margin-left: 0px;
	top: 1vh;
	left: 0px;
	position: absolute;
	border-left: 2px solid #07bc0c;
	background: linear-gradient(to right, #000, #434343);
	display: flex;
	justify-content: center;
	align-items: center;
}

.t-left {
	width: 95%;
}

.t-right {
	width: 5%;
}

.event-topbar {
	text-align: center;
	background-color: #046003;
	color: #fff;
	height: 1.5rem;
	padding: 0.2rem;
	font-size: 1rem;
	font-weight: 500;
	width: 100vw;
}

.game-x-data {
	margin-top: 2rem;
	width: 100%;
}

/* table */
table {
	width: 100%;
	table-layout: fixed;
}

.tbl-header {
	background-color: rgb(16 124 16);
}

.tbl-content {
	height: 65vh;
	overflow-x: auto;
	margin-top: 0px;
	background-color: #1bff0008;
}

th {
	padding: 20px 15px;
	/* text-align: left; */
	font-weight: 500;
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

td {
	padding: 30px;
	vertical-align: middle;
	font-weight: 300;
	font-size: 25px;
	color: #fff;
	text-align: center;
}

.game-x-edit-btn {
	color: #f5f5f5;
	background-color: #010376;
	border: 2px solid #0004ff;
	border-radius: 50%;
	padding: 0.5rem;
	font-size: 0.5rem;
	margin-right: 0.2rem;
	cursor: pointer;
}

.game-x-edit-btn:hover {
	background-color: #0004ff;
	border: 2px solid #010376;
}

.game-x-delete-btn {
	color: #fff;
	background-color: #690101;
	border: 2px solid #ff0000;
	border-radius: 50%;
	padding: 0.5rem;
	font-size: 0.5rem;
	margin-left: 0.2rem;
	cursor: pointer;
}
.game-x-btn-disable{
	color:#690101;
	border: 2px solid #690101;
	border-radius: 50%;
	padding: 0.5rem;
	font-size: 0.5rem;
	margin-left: 0.2rem;
	cursor: pointer;
	background-color: #000;
	
}
.game-x-btn-enable{
	color: #0f6901;
	border: 2px solid #0f6901;
	border-radius: 50%;
	padding: 0.5rem;
	font-size: 0.5rem;
	margin-left: 0.2rem;
	cursor: pointer;
	background-color: #000;

}
.game-x-delete-btn:hover {
	background-color: #ff0000;
	border: 2px solid #690101;
}

.data-x-game-container {
	margin-top: 2rem;
	margin-left: 1rem;
	margin-right: 1rem;
	padding: 1rem;
	border: 1px solid green;
	/* height: 65vh; */
	width: 100%;
	background-color: #1bff0008;
}

.input-group {
	margin-top: 0.25rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.input-group label {
	display: block;
	color: #fff;
	margin-bottom: 8px;
	text-align: left;
}

.input-group input {
	width: 100%;
	border-radius: 0.375rem;
	border: 1px solid rgba(55, 65, 81, 1);
	outline: 0;
	background-color: #000;
	padding: 0.75rem 1rem;
	color: #fff;
	font-weight: 600;
}

.input-group input:focus {
	border-color: #07bc0c;
}

.d-reg-wrap {
	height: 92vh;
	width: 100vw;
	display: flex;
	/* left: 12vw; */
	/* position: absolute; */
	/* top: 6vh; */
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
}

.d-form-btn {
	color: #fff !important;
	font-size: 16px !important;
	font-weight: 600 !important;
}

.event-x-content {
	height: auto;
	width: 100vw;
	height: 100vh;
	/* background: #262626; */
	background: #000;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	justify-items: center;
	padding: 2rem 0rem;
}

.event-x-card {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: linear-gradient(180deg,
			rgba(255, 255, 255, 0) 100%,
			rgba(255, 255, 255, 0.188) 0%);
	backdrop-filter: blur(30px);
	/* border-radius: 20px; */
	width: 80vw;
	box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset, 0 1px 0 0 rgba(255, 255, 255, 0.66) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
	z-index: 10;
	height: 15rem;
}

.event-x-card-data {
	width: 80%;
	display: flex;
	/* padding-top: 2rem; */
	/* padding-left: 5rem; */
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: flex-start;
}



.event-x-card-img {
	width: 10%;
}

.event-x-img {
	height: 10rem;
	border-radius: 5px;
}

.event-x-card-title {
	font-size: 25px;
	color: #046003;
}

.event-x-card-desc {
	font-size: 25px;
	color: #fff;
}

.event-x-card:hover {

	border: 1px solid #07bc0c;
}


.mainxz {
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;

}

.max-d-filter {
	filter: drop-shadow(0px 0px 2px #00ff0868);
}

.circles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.circles li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background-color: #07bc0c;
	background-image: linear-gradient(225deg, #07bc0c 0%, #4ba074 50%, #2b86c5 100%);
	animation: animate 25s linear infinite;
	bottom: -150px;
}

.circles li:nth-child(1) {
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}

.circles li:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
	animation-duration: 12s;
}

.circles li:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 4s;
}

.circles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 18s;
}

.circles li:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
}

.circles li:nth-child(6) {
	left: 75%;
	width: 110px;
	height: 110px;
	animation-delay: 3s;
}

.circles li:nth-child(7) {
	left: 35%;
	width: 150px;
	height: 150px;
	animation-delay: 7s;
}

.circles li:nth-child(8) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 15s;
	animation-duration: 45s;
}

.circles li:nth-child(9) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 2s;
	animation-duration: 35s;
}

.circles li:nth-child(10) {
	left: 85%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 11s;
}

@keyframes animate {

	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}

	100% {
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}

}

.loader-max {
	width: 80px;
	height: 50px;
	position: relative;
}


.load-max {
	background-color: #79ff80;
	border-radius: 50px;
	display: block;
	height: 16px;
	width: 16px;
	bottom: 0;
	position: absolute;
	transform: translateX(64px);
	animation: l-m-x 3.5s ease both infinite;
}

.load-max::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: #c2fff1;
	border-radius: inherit;
	animation: l-m-x 3.5s ease both infinite;
}


@keyframes l-m-x {
	0% {
		width: 16px;
		transform: translateX(0px);
	}

	40% {
		width: 100%;
		transform: translateX(0px);
	}

	80% {
		width: 16px;
		transform: translateX(64px);
	}

	90% {
		width: 100%;
		transform: translateX(0px);
	}

	100% {
		width: 16px;
		transform: translateX(0px);
	}
}

@keyframes l-m-x {
	0% {
		transform: translateX(0px);
		width: 16px;
	}

	40% {
		transform: translateX(0%);
		width: 80%;
	}

	80% {
		width: 100%;
		transform: translateX(0px);
	}

	90% {
		width: 80%;
		transform: translateX(15px);
	}

	100% {
		transform: translateX(0px);
		width: 16px;
	}
}

.textInputWrapper {
	position: relative;
	width: 100;
	margin: 12px 5px;
	--accent-color: #07bc0c;

}

.textInputWrapper:before {
	transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.textInputWrapper:before,
.textInputWrapper:after {
	content: "";
	left: 0;
	right: 0;
	position: absolute;
	pointer-events: none;
	bottom: -1px;
	z-index: 4;
	width: 100%;
}

.textInputWrapper:focus-within:before {
	border-bottom: 1px solid var(--accent-color);
}

.textInputWrapper:before {
	transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.textInputWrapper:focus-within:before {
	border-bottom: 1px solid var(--accent-color);
	transform: scaleX(1);
}

.textInputWrapper:focus-within:after {
	border-bottom: 2px solid var(--accent-color);
	transform: scaleX(1);
}

.textInputWrapper:after {
	content: "";
	transform: scaleX(0);
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
	will-change: transform;
	border-bottom: 2px solid var(--accent-color);
	border-bottom-color: var(--accent-color);
}

.textInput::placeholder {
	transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
	opacity: 1;
	user-select: none;
	color: rgba(255, 255, 255, 0.582);
}

.textInputWrapper .textInput {
	border-radius: 1px 1px 0px 0px;
	box-shadow: 0px 2px 5px rgb(35 35 35 / 30%);
	max-height: 36px;
	background-color: #252525;
	transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
	transition-duration: 200ms;
	transition-property: background-color;
	color: #e8e8e8;
	font-size: 14px;
	font-weight: 600;
	padding: 12px;
	width: 100%;
	border-left: none;
	border-bottom: none;
	border-right: none;

}

.textInputWrapper .textInput:focus,
.textInputWrapper .textInput:active {
	outline: none;
}

.textInputWrapper:focus-within .textInput,
.textInputWrapper .textInput:focus,
.textInputWrapper .textInput:active {
	background-color: #1b1b1b;
}

.textInputWrapper:focus-within .textInput::placeholder {
	opacity: 0;
}

.button-m-x {
	width: 100%;
	padding: 10px 60px;
	background-color: #000;
	border: none;
	font-size: 18px;
	position: relative;
	/* overflow: hidden; */
	transition: 500ms;
	cursor: pointer;
}

.button-m-x span {
	color: gray;
	position: relative;
	transition: 500ms;
	transition-delay: 500ms;
	font-size: 16px;
	/* text-transform: uppercase; */
	letter-spacing: 2px;
	font-weight: 600;
}

.button-m-x:before {
	content: '';
	position: absolute;
	width: 0%;
	height: 0%;
	left: 50%;
	right: 50%;
	top: 50%;
	bottom: 50%;
	transition: 500ms;
	transition-delay: 500ms;
	/* background-color: red; */

}

.button-m-x .red {
	transition: 500ms;
	position: absolute;
	background-color: red;
	box-shadow: 0 0 15px red, 0 0 30px red, 0 0 50px red;
}

.button-m-x .green {
	transition: 500ms;
	position: absolute;
	background-color: #07bc0c;
	box-shadow: 0 0 15px #07bc0c, 0 0 30px #07bc0c, 0 0 50px #07bc0c;
}

.button-m-x .orange {
	transition: 500ms;
	position: absolute;
	background-color: #ffbb00;
	box-shadow: 0 0 15px #ffbb00, 0 0 30px #ffbb00, 0 0 50px #ffbb00;
}

.button-m-x .top {
	width: 15px;
	height: 2px;
	top: 0;
	left: 0;
}

.button-m-x .bottom {
	width: 15px;
	height: 2px;
	bottom: 0;
	right: 0;
}

.button-m-x .left {
	width: 2px;
	height: 15px;
	top: 0;
	left: 0;
}

.button-m-x .right {
	width: 2px;
	height: 15px;
	bottom: 0;
	right: 0;
}

.button-m-x:hover {
	color: #fff;
}

.button-m-x:hover span {
	color: #fff;
}

.button-m-x:hover:before {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.button-m-x:hover .top,
.button-m-x:hover .bottom {
	width: 100%;
}

.button-m-x:hover .left,
.button-m-x:hover .right {
	height: 100%;
}

.mb-1 {
	margin-bottom: 1rem;
}

.mb-2 {
	margin-bottom: 2rem;
}

.sub-loader-x {
	height: 90vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.no-size-loader {
	height: 100% !important;
	width: 100% !important;
}

@keyframes blinkCursor {
	50% {
		border-right-color: transparent;
	}
}

@keyframes typeAndDelete {

	0%,
	10% {
		width: 0;
	}

	45%,
	55% {
		width: 13em;
	}

	/* adjust width based on content */
	90%,
	100% {
		width: 0;
	}
}

.terminal-loader {
	border: 0.1em solid #333;
	background-color: #1a1a1a;
	color: #0f0;
	font-family: "Courier New", Courier, monospace;
	font-size: 1em;
	padding: 1.5em 1em;
	width: 15em;
	margin: 100px auto;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

.terminal-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 1.5em;
	background-color: #333;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 0 0.4em;
	box-sizing: border-box;
}

.terminal-controls {
	float: right;
}

.control {
	display: inline-block;
	width: 0.6em;
	height: 0.6em;
	margin-left: 0.4em;
	border-radius: 50%;
	background-color: #777;
}


.control.maximize {
	background-color: red;
}

.terminal-title {
	float: left;
	line-height: 1.5em;
	color: #eee;
}

.terminal-text {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	border-right: 0.2em solid #07bc0c;
	animation: typeAndDelete 17s steps(17) infinite,
		blinkCursor 0.5s step-end infinite alternate;
	margin-top: 1.5em;
}

.w-flex-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

/* .welcome-wrapper{

} */
.container-welcome {
	width: auto;
	/* max-width: 80%;  */
	height: 50px;
}

.content-welcome {
	display: block;
	position: sticky;
	overflow: hidden;
	font-family: 'Lato', sans-serif;
	font-size: 35px;
	line-height: 40px;
	color: #ecf0f1;
}

.content__container {
	font-weight: 600;
	overflow: hidden;
	height: 40px;
	padding: 0 30px;
	position: relative;
}

.content__container:before,
.content__container:after {
	content: '[';
	position: absolute;
	top: -2px;
	color: #07bc0c;
	font-size: 42px;
	line-height: 40px;
	animation: opacity 2s infinite;
}

.content__container:after {
	content: ']';
	right: 0;
}

.content__container__text {
	display: inline;
	margin: 0;
	padding-left: 30px;
}

.content__container__list {
	margin-top: 0;
	padding-left: 170px;
	text-align: left;
	list-style: none;
	animation: change 10s infinite;
}

.content__container__list__item {
	line-height: 40px;
	margin: 0;
}


.x-welcome-container {
	position: sticky;
	overflow: hidden;
}

.x-left-bar:before {
	content: '[';
	color: #07bc0c;
	font-size: 42px;
	line-height: 40px;
	animation: opacity 2s infinite;
}

.x-right-bar:before {
	content: ']';
	color: #07bc0c;
	font-size: 42px;
	height: 40px;
	animation: opacity 2s infinite;
}

.x-data-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width: 100%;
	gap: 1rem;
	overflow: hidden;
	height: 40px;
	padding: 0 30px;
	position: relative;
}

.x-data-left {
	width: 40%;
	font-size: 35px;
	line-height: 40px;
	height: 40px;
	text-align: left;
}

.x-data-right {
	height: 40px;
	width: 60%;
	font-size: 35px;
	line-height: 40px;
	list-style: none;
	animation: change 10s infinite;
	text-align: left;
	position: relative;
	margin-left: -5%;
}

.x-data-r {
	line-height: 40px;
	margin: 0;
}

.h-30-v {
	height: 30vh !important;
}


@keyframes opacity {

	0%,
	100% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}

@keyframes change {

	0%,
	12.66%,
	100% {
		transform: translate3d(0, 0, 0);
	}

	16.66%,
	29.32% {
		transform: translate3d(0, 0%, 0);
	}

	33.32%,
	45.98% {
		transform: translate3d(0, -100%, 0);
	}

	49.98%,
	62.64% {
		transform: translate3d(0, -200%, 0);
	}

	66.64%,
	79.3% {
		transform: translate3d(0, -100%, 0);
	}

	83.3%,
	95.96% {
		transform: translate3d(0, -0%, 0);
	}
}

.ml-1 {
	margin-left: 1rem;
}



:root {
	--shadow: #fd6f21;
	--ring: currentColor;
	--blend1: #fc5830;
	--blend2: #f98c24;
	--blend-from: 0%;
	--blend-to: 100%;
	--blend-dir: top right;
}

[icon] {
	flex: none;
	display: none;
	position: relative;
	font-size: calc(10em + 1vmin);
	width: 1em;
	height: 1em;
	margin: .3em;
	border-radius: 100%;
	box-shadow: 0 0 0 .05em var(--ring) inset, 0 0 .3em -.03em var(--shadow);
	background: linear-gradient(to var(--blend-dir), var(--blend1) var(--blend-from), var(--blend2) var(--blend-to));
}


[icon]::after {
	content: attr(data-label);
	position: absolute;
	top: calc(100% + 1vmin);
	left: 50%;
	transform: translateX(-50%);
	font: inherit;
	font-size: .15em;
}

[icon='sunny'] {
	--shadow: #fd6f21;
	--blend1: #fc5830;
	--blend2: #f98c24;
	--blend-to: 65%;
}

[icon='cloudy'] {
	--shadow: #1378bb;
	--blend1: #1b9ce2;
	--blend2: #1378bb;
	--shadow: #c9e8de;
	--blend1: #758595;
	--blend2: #e0e2e5;
	--blend1: #1b9ce2;
	--blend-to: 65%;
	--blend-to: 90%;
}

[icon='snowy'] {
	--shadow: #c9e8de;
	--blend1: #758595;
	--blend2: #e0e2e5;
	--blend-to: 90%;
	--blend-dir: bottom left;
}

[icon='stormy'] {
	--shadow: #34c6d8;
	--blend1: #4b9cc2;
	--blend2: #9adbd9;
}

[icon='supermoon'] {
	--shadow: #5133a5;
	--blend1: #4054b2;
	--blend2: #aa4cba;
	--blend-to: 65%;
	--blend-dir: bottom right;
}


.sun {
	position: absolute;
	top: 20%;
	left: 80%;
	transform: translate(-50%, -50%);
	width: 40%;
	height: 40%;
	border-radius: 100%;
	background: #ffeb3b;
	box-shadow: 0 0 0 .02em var(--ring) inset, 0 0 .3em -.03em var(--shadow);
	transform-origin: .1em .1em;
}

.sun::after {
	content: '';
	position: absolute;
	top: .1em;
	left: 0;
	will-change: transform;
	transform: translate(-50%, -50%);
	width: .1em;
	height: .1em;
	border-radius: 100%;
	background: rgba(255, 255, 255, .1);
	box-shadow: 0 0 .1em 0 rgba(255, 255, 255, .3) inset, -.1em -.1em 0 .2em rgba(255, 255, 255, .1);
	animation: flare 12000ms infinite alternate linear;
}


.cloud {
	position: absolute;
	top: .1em;
	left: 65%;
	width: .37em;
	height: .13em;
	border-radius: .1em;
	background-color: #fff;
	box-shadow: 0 0 .1em .02em var(--ring) inset, 0 0 .3em -.03em var(--shadow);
	animation: move 3000ms infinite ease-in-out;
}

.cloud+.cloud {
	top: 25%;
	left: 40%;
	animation: move 3700ms infinite linear;
}

.cloud::before,
.cloud::after {
	content: '';
	position: inherit;
	border-radius: inherit;
	background-color: inherit;
	box-shadow: inherit;
	bottom: 30%;
}

.cloud::before {
	left: .05em;
	width: .2em;
	height: .2em;
}

.cloud::after {
	left: .15em;
	width: .15em;
	height: .15em;
}

[icon='snowy'] ul {
	position: absolute;
	list-style: none;
	top: 0%;
	left: 10%;
	right: 0%;
	height: 100%;
	margin: 0;
	padding: 0;
}

[icon='snowy'] li::before,
[icon='snowy'] li::after {
	content: '';
	position: absolute;
	list-style: none;
	width: .015em;
	height: .01em;
	border-radius: 100%;
	background-color: var(--ring);
	will-change: transform, opacity;
	animation: snow 3700ms infinite ease-out;
	opacity: 0;
}

[icon='snowy'] li:nth-child(2n+1)::before,
[icon='snowy'] li:nth-child(13n+11)::after {
	top: -7%;
	left: 40%;
}

[icon='snowy'] li:nth-child(3n+2)::before,
[icon='snowy'] li:nth-child(11n+7)::after {
	top: 5%;
	left: 90%;
	animation-delay: 1000ms;
}

[icon='snowy'] li:nth-child(5n+3)::before,
[icon='snowy'] li:nth-child(7n+5)::after {
	top: -10%;
	left: 80%;
	animation-delay: 2000ms;
}

[icon='snowy'] li:nth-child(7n+5)::before,
[icon='snowy'] li:nth-child(5n+3)::after {
	top: 10%;
	left: 10%;
	animation-delay: 1300ms;
}

[icon='snowy'] li:nth-child(11n+7)::before,
[icon='snowy'] li:nth-child(3n+2)::after {
	top: 20%;
	left: 70%;
	animation-delay: 1500ms;
}

[icon='snowy'] li:nth-child(13n+11)::before,
[icon='snowy'] li:nth-child(2n+1)::after {
	top: 35%;
	left: 20%;
	animation-delay: 500ms;
}

.snowman {
	position: absolute;
	bottom: 30%;
	left: 40%;
	width: .15em;
	height: .15em;
	opacity: .9;
	background: var(--ring);
	border-radius: 100%;
}

.snowman::after {
	content: '';
	position: absolute;
	top: 90%;
	left: 30%;
	transform: translate(-50%, 0%);
	width: .275em;
	height: .3em;
	border-radius: inherit;
	background-color: var(--ring);
}

.snowman::before {
	content: '';
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-55%, -50%);
	width: .45em;
	height: .4em;
	border-radius: 60%;
	border: .02em solid transparent;
	border-bottom-color: var(--blend1);
	will-change: border-radius;
	animation: snowman 9000ms infinite ease-in;
}

[icon='stormy']::before {
	--shadow: rgba(255, 255, 255, 0);
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: .05em;
	border-radius: 100%;
	opacity: .4;
	will-change: background-color;
	animation: flash 2300ms infinite linear 80ms;
}

[icon='stormy'] .cloud {
	--shadow: #c9e8de;
	--ring: #f0f2f0;
	background-color: var(--shadow);
	font-size: 1.3em;
	left: 50%;
	will-change: background-color, transform, opacity;
	animation: flash 2300ms infinite linear, move 3700ms infinite linear;
}

[icon='stormy'] ul {
	position: absolute;
	list-style: none;
	top: 0%;
	left: 70%;
	right: 0%;
	height: 100%;
	margin: 0;
	padding: 0;
}

[icon='stormy'] li,
[icon='stormy'] li::before,
[icon='stormy'] li::after {
	position: absolute;
	width: .005em;
	height: .02em;
	border-radius: 10%;
	background-color: #eee;
	opacity: 0;
	will-change: transform, opacity;
	animation: rain 2000ms infinite linear;
	transform: rotate(25deg);
}

[icon='stormy'] li::before,
[icon='stormy'] li::after {
	content: '';
}

[icon='stormy'] li:nth-child(5n+3)::before,
[icon='stormy'] li:nth-child(11n+7)::after,
[icon='stormy'] li:nth-child(2n+1) {
	top: 10%;
	left: 68%;
	animation-delay: 500ms;
}

[icon='stormy'] li:nth-child(3n+2)::after,
[icon='stormy'] li:nth-child(7n+5)::after,
[icon='stormy'] li:nth-child(3n+2) {
	top: 5%;
	left: 45%;
	animation-delay: 1250ms;
}

[icon='stormy'] li:nth-child(2n+1)::before,
[icon='stormy'] li:nth-child(5n+3)::after,
[icon='stormy'] li:nth-child(7n+5) {
	top: 4%;
	left: 82%;
	animation-delay: 750ms;
}

[icon='stormy'] li:nth-child(11n+7)::before,
[icon='stormy'] li:nth-child(3n+2)::after,
[icon='stormy'] li:nth-child(7n+5) {
	top: 15%;
	left: 15%;
	animation-delay: 2000ms;
}

[icon='stormy'] li:nth-child(7n+5)::before,
[icon='stormy'] li:nth-child(2n+1)::after,
[icon='stormy'] li:nth-child(11n+7) {
	top: 10%;
	left: 33%;
	animation-delay: 2500ms;
}

[icon="supermoon"]::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image:
		radial-gradient(1px 1px at 50% 20%, #fff, rgba(0, 0, 0, 0)),
		radial-gradient(1px 1px at 30% 65%, #fff, rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 15% 05%, #fff, rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 37% 35%, #fff, rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 65% 47%, #fff, rgba(0, 0, 0, 0)),
		radial-gradient(1px 1px at 42% 29%, #fff, rgba(0, 0, 0, 0)),
		radial-gradient(1px 1px at 73% 56%, #fff, rgba(0, 0, 0, 0)),
		radial-gradient(1px 1px at 24% 19%, #fff, rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 31% 47%, #fff, rgba(0, 0, 0, 0)),
		radial-gradient(1px 1px at 18% 39%, #fff, rgba(0, 0, 0, 0));
	background-repeat: repeat;
	will-change: transform;
	animation: revolve 120000ms linear infinite;
}

.moon {
	position: absolute;
	top: 20%;
	left: 80%;
	transform: translate(-50%, -50%);
	width: 40%;
	height: 40%;
	border-radius: 100%;
	background: radial-gradient(circle at bottom left, var(--ring), #fef07e);
	box-shadow: 0 0 0 .02em var(--ring) inset, 0 0 .3em -.03em var(--blend2);
}

.moon::before,
.moon::after {
	content: '';
	position: absolute;
	border-radius: 100%;
	background-color: var(--blend1);
	box-shadow: .01em .01em .1em 0 var(--blend1);
}

.moon::before {
	top: 15%;
	left: 55%;
	width: 20%;
	height: 20%;
	opacity: .3;
}

.moon::after {
	bottom: 50%;
	left: 25%;
	width: 15%;
	height: 15%;
	opacity: .2;
}

.meteor {
	position: absolute;
	background-color: #fff;
	opacity: 0;
	top: 20%;
	left: 55%;
	width: 1px;
	height: 15px;
	transform: rotate(45deg);
	will-change: transform, opacity;
	animation: meteor 6250ms infinite ease-in;
}

.t-r-content {
	font-size: calc(0.1em + 0.1vmin);
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-flow: row wrap;
	color: #e6e8db;
	position: relative;
}


[icon="sunny"] {
	display: block;
}

[icon="cloudy"] {
	display: block;
}

[icon="snowy"] {
	display: block;
}

[icon="stormy"] {
	display: block;
}

[icon="supermoon"] {
	display: block;
}

@keyframes flare {
	to {
		transform: translate(-.3em, .3em);
		opacity: .4;
		font-size: .2em;
	}
}

@keyframes move {
	50% {
		transform: translateX(-.05em);
	}
}

@keyframes snow {
	50% {
		opacity: 1;
	}

	100% {
		transform: translate(-.1em, 15vmin);
	}
}

@keyframes snowman {
	50% {
		border-radius: 60% 60% 30% 50%;
	}
}

@keyframes flash {
	49% {
		background-color: var(--shadow);
	}

	51% {
		background-color: var(--ring);
	}

	53% {
		background-color: var(--shadow);
	}

	57% {
		background-color: var(--ring);
	}

	85% {
		background-color: var(--shadow);
	}
}

@keyframes rain {
	10% {
		opacity: .4;
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: translate(-.1em, .5em);
	}
}

@keyframes revolve {
	to {
		transform: rotate(360deg);
	}
}

@keyframes meteor {
	5% {
		opacity: 1;
	}

	8% {
		transform: translate(-.6em, .6em) rotate(45deg);
		opacity: 0;
	}
}

.select-dropdown,
.select-dropdown * {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	background-color: #046003;
	font-weight: 600;
	text-align: center;
	/* padding: 1rem; */
}

.select-dropdown {
	position: relative;
	background-color: #E6E6E6;
	border-radius: 4px;
	border-radius: 0.375rem;
}

.select-dropdown select {
	font-size: 1rem;
	font-weight: normal;
	width: 100%;
	padding: 8px 24px 8px 10px;
	border: none;
	background-color: #107c10;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-weight: 600;
	color: #fff;
}

.select-dropdown select:active,
.select-dropdown select:focus {
	outline: none;
	box-shadow: none;
}

.select-dropdown:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 8px;
	width: 0;
	height: 0;
	margin-top: -2px;
	border-top: 5px solid #aaa;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

.container-x-dashboard {
	color: white;
	position: relative;
	font-family: sans-serif;
	width: 10rem;
	height: 10rem;
}

.container-x-dashboard::before,
.container-x-dashboard::after {
	content: "";
	background-color: #40ff004c;
	position: absolute;
}

.container-x-dashboard::before {
	border-radius: 50%;
	width: 6rem;
	height: 6rem;
	top: 30%;
	right: 7%;
}

.container-x-dashboard::after {
	content: "";
	position: absolute;
	height: 3rem;
	top: 19%;
	right: 5%;
	border: 2px solid;
}

.container-x-dashboard .box-x-dashboard {
	width: 10.875em;
	height: 10.875em;
	padding: 1rem;
	background-color: rgba(255, 255, 255, 0.074);
	border: 1px solid rgba(255, 255, 255, 0.222);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	border-radius: 0.7rem;
	transition: all ease 0.3s;
}

.container-x-dashboard .box-x-dashboard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container-x-dashboard .box-x-dashboard .title-x-dashboard {
	font-size: 4rem;
	font-weight: 500;
	letter-spacing: 0.1em;
}

.container-x-dashboard .box-x-dashboard div strong {
	display: block;
	margin-bottom: 0.5rem;
}

.container-x-dashboard .box-x-dashboard div p {
	margin: 0;
	font-size: 0.9em;
	font-weight: 300;
	letter-spacing: 0.1em;
}

.container-x-dashboard .box-x-dashboard div span {
	font-size: 0.7rem;
	font-weight: 300;
}

.container-x-dashboard .box-x-dashboard div span:nth-child(3) {
	font-weight: 500;
	margin-right: 0.2rem;
}

.container-x-dashboard .box-x-dashboard:hover {
	box-shadow: 0px 0px 20px 1px #40ff004c;
	border: 1px solid rgba(255, 255, 255, 0.454);
}

.wrapper-x-dashboard {
	display: flex;
	height: 75vh;
	width: 70vw;
	justify-content: center;
	align-items: center;
	gap: 5rem;
	flex-direction: row;
}